.app-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 5em;
    width: 100%;

    a {
        text-decoration: none;
        color: inherit;
        
    }
}